# Auto detect text files and perform LF normalization
* text=auto
datasets/datasamples/**/* filter=lfs diff=lfs merge=lfs -text
datasets/data_samples/**/*.json filter=lfs diff=lfs merge=lfs -text
datasets/data_samples/**/* !text !filter !merge !diff
